<ion-content class="ion-padding">
    <ion-card>
        <ion-card-content>
            <div style="display: flex; align-items: center;justify-content: center;">
                <ion-icon size="large" name="person-outline"></ion-icon>
            </div>
        </ion-card-content>
        <ion-card-header>
            <ion-card-title size="large">Iniciar Sesion</ion-card-title>
            <ion-card-subtitle>Colombia</ion-card-subtitle>
        </ion-card-header>

    </ion-card>
    <ion-list style="text-align:center">

        <ion-button shape="round" class="ion-justify-content-center">
            <ion-icon name="logo-google" size="large"></ion-icon>

        </ion-button>
        <ion-button shape="round">
            <ion-icon name="logo-facebook" size="large"></ion-icon>

        </ion-button>
        <ion-item color="none" style="text-align:center">
            <ion-label>
                <a href="/register"> Registrarme </a>

            </ion-label>
        </ion-item>
    </ion-list>

</ion-content>

<ion-content class="ion-padding">
    <ion-card>

        <ion-input placeholder="e-mail" class="custom"></ion-input>

    </ion-card>
    <ion-card>

        <ion-input placeholder="contraseña" class="custom"></ion-input>

    </ion-card>
</ion-content>

<ion-button expand="block" class="ion-margin">-></ion-button>