<app-searchvar></app-searchvar>
<ion-content class="ion-padding">

    <ion-grid [fixed]="true">
        <ion-row>
            <ion-col size="auto">
                <ion-icon name="heart-outline"></ion-icon>
            </ion-col>
            <ion-col class="ion-text-center">Económico</ion-col>
            <ion-col size="auto">
                <ion-icon name="heart-outline"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-card>
        <ion-card-content>
            <ion-list>
                <ion-item [routerLink]="['/basket/11/product/12']">
                    <ion-thumbnail slot="start">
                        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
                    </ion-thumbnail>
                    <ion-label class="ion-text-wrap">Item</ion-label>
                    <ion-label class="ion-text-wrap">$15.200</ion-label>
                    <ion-checkbox slot="end"></ion-checkbox>
                </ion-item>

                <ion-item [routerLink]="['/product/11']">
                    <ion-thumbnail slot="start">
                        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
                    </ion-thumbnail>
                    <ion-label class="ion-text-wrap">Item</ion-label>
                    <ion-label class="ion-text-wrap">$15.200</ion-label>
                    <ion-checkbox slot="end"></ion-checkbox>
                </ion-item>
                <ion-item [routerLink]="['/product/12']">
                    <ion-thumbnail slot="start">
                        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
                    </ion-thumbnail>
                    <ion-label class="ion-text-wrap">Item</ion-label>
                    <ion-label class="ion-text-wrap">$15.200</ion-label>
                    <ion-checkbox slot="end"></ion-checkbox>
                </ion-item>
                <ion-item [routerLink]="['/product/13']">
                    <ion-thumbnail slot="start">
                        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
                    </ion-thumbnail>
                    <ion-label class="ion-text-wrap">product</ion-label>
                    <ion-label class="ion-text-wrap">$15.200</ion-label>
                    <ion-checkbox slot="end"></ion-checkbox>
                </ion-item>
                <ion-item [routerLink]="['/product/14']">
                    <ion-thumbnail slot="start">
                        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
                    </ion-thumbnail>
                    <ion-label class="ion-text-wrap">product Test </ion-label>
                    <ion-label class="ion-text-wrap">$15.200</ion-label>
                    <ion-checkbox slot="end"></ion-checkbox>
                </ion-item>
                <ion-item [routerLink]="['/product/15']">
                    <ion-thumbnail slot="start">
                        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
                    </ion-thumbnail>
                    <ion-label class="ion-text-wrap">productTesting size</ion-label>
                    <ion-label class="ion-text-wrap">$15.200</ion-label>
                    <ion-checkbox slot="end"></ion-checkbox>
                </ion-item>
                <ion-item [routerLink]="['/product/16']">
                    <ion-thumbnail slot="start">
                        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
                    </ion-thumbnail>
                    <ion-label class="ion-text-wrap">Item</ion-label>
                    <ion-label class="ion-text-wrap">$15.200</ion-label>
                    <ion-checkbox slot="end"></ion-checkbox>
                </ion-item>


            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>

<router-outlet></router-outlet>